.nav_bar {
    color: blue;
    text-align: right;
}

.nav_bar a {
    padding: 2px 10px;
}

.headline1 {
    font-size: 80px;
    text-align: center;
    margin-top: 180px;
}

.search_bar {
    text-align: center;
    margin-top: 20px;
}

.advanced_search {
    /* text-align: center; */
    margin-left: 50px;
    margin-top: 20px;
}

.search_field .rounded-pill{
    width: 500px;
}

.search_button * {
    margin: 10px;
    padding: 2px 15px;
}